name: tests
env:
  FLUTTER_VERSION: "stable"
on:
  - push
  - pull_request
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - name: Install Flutter
        run: |
          git clone https://github.com/flutter/flutter.git --depth 1 -b $FLUTTER_VERSION _flutter
          echo "$GITHUB_WORKSPACE/_flutter/bin" >> $GITHUB_PATH
      - name: Verify Flutter Installation Succeeded
        run: flutter doctor -v
      - name: Get dependencies
        run: flutter pub get
        working-directory: ./in_app_review
      - name: Static Analysis
        run: flutter analyze --no-pub
        working-directory: ./in_app_review
      - name: Run Tests
        run: flutter test --no-pub
        working-directory: ./in_app_review
  platform_interface_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - name: Install Flutter
        run: |
          git clone https://github.com/flutter/flutter.git --depth 1 -b $FLUTTER_VERSION _flutter
          echo "$GITHUB_WORKSPACE/_flutter/bin" >> $GITHUB_PATH
      - name: Verify Flutter Installation Succeeded
        run: flutter doctor -v
      - name: Get dependencies
        run: flutter pub get
        working-directory: ./in_app_review_platform_interface
      - name: Static Analysis
        run: flutter analyze --no-pub
        working-directory: ./in_app_review_platform_interface
      - name: Run Tests
        run: flutter test --no-pub
        working-directory: ./in_app_review_platform_interface
