name: tests
   
on:
  push:
  pull_request:
  
jobs:
  tests:
    strategy:
      matrix:
        flutter-version: ["2.10.5", "3.0.5", "3.3.2"]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./in_app_review
    steps:
      - uses: actions/checkout@v2
      - uses: britannio/action-install-flutter@v1
        with:
          version: ${{ matrix.flutter-version }}
      - name: Get dependencies
        run: flutter pub get
      - name: Static Analysis
        run: flutter analyze --no-pub
      - name: Run Tests
        run: flutter test --no-pub
          
  platform_interface_tests:
    strategy:
      matrix:
        flutter-version: ["2.10.5", "3.0.5", "3.3.2"]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./in_app_review_platform_interface
    steps:
      - uses: actions/checkout@v2
      - uses: britannio/action-install-flutter@v1
        with:
          version: ${{ matrix.flutter-version }}
      - name: Get dependencies
        run: flutter pub get
      - name: Static Analysis
        run: flutter analyze --no-pub
      - name: Run Tests
        run: flutter test --no-pub
